
{% extends 'base.html' %}

{% block styling %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/boxstyle.css' %}" >
{% endblock %}

{% block title %}Search by actor{% endblock %}
{% block content %}
{% load static %}

<section class="container-fluid px-0 pb-5">
    <div class="row align-items-center">
      <div class ="col-lg-1">
      </div>
      <div class="col-lg-10 align-items-center">
        <div id="headingGroup" class="text-white text-center d-lg-block mt-5">
            <h1 class="display-3"><span>#"</span>{{director}}<span>"'s</span> movies reviews</h1>
            <p class="lead">Displaying {{ reviews_list.start_index }} - {{ reviews_list.end_index }} reviews out of {{ reviews_list.paginator.count }}</p>
            <div class="dj_pang">
              {% if reviews_list.has_previous %}
                <button id = "search_btn" class="btn btn-outline-success my-2 my-sm-3"><a class="text-white" href="?page=1"><<</a></button>
                <button id = "search_btn" class="btn btn-outline-success my-2 my-sm-3"><a class="text-white" href="?page={{ reviews_list.previous_page_number }}"> <</a></button>
              {% endif %}
              {% for num in reviews_list.paginator.page_range %}
                  {% if reviews_list.number == num %}
                      <button id = "curr_btn" class="btn btn-outline-success my-2 my-sm-3 active">{{ num }}</button>
                  {% elif num > reviews_list.number|add:'-3' and num < reviews_list.number|add:'3' %}
                      <button id = "search_btn" class="btn btn-outline-success my-2 my-sm-3"><a class="text-white" href="?page={{ num }}">{{ num }}</a></button>
                      {% endif %}
                    {% endfor %}
              {% if reviews_list.has_next %}
                <button id = "search_btn" class="btn btn-outline-success my-2 my-sm-3"><a class="text-white" href="?page={{ reviews_list.next_page_number }}">> </a></button>
                <button id = "search_btn" class="btn btn-outline-success my-2 my-sm-3"><a class="text-white" href="?page={{ reviews_list.paginator.num_pages }}">>></a></button>
              {% endif %}
              </div>
            <ul>
                {% for review in reviews_list %}
                <div id ="resblock" class= "border rounded">
                    <span>Director:</span> {{ review.0 }} <br>
                    <span>Director's birthday:</span> {{ review.1 }}
                    <span>Director's biography:</span> {{ review.2 }}
                    <span>Movie:</span> {{ review.3 }}<br> 
                    <span>Review summary:</span> {{ review.5 }}<br>
                    <button id = "search_btn" class="btn btn-outline-success my-2 my-sm-3"><a class="text-white" href={{ review.4 }}>Original review</a></button>
                    <br>
                </div>
                {% endfor %}
            </ul>
        </div>
      </div>
      <div class ="col-lg-1">
      </div>
    </div>
  </section>


{% endblock %}
