{% extends 'base.html' %}
{% block styling %}
{% load static %}

{% endblock %}

{% block title %}Choose by genre{% endblock %}
{% block content %}
{% load static %}
<div class="container-fluid">
    <nav class="navbar justify-content-center navbar-light bg-light">
        <a id="genres" class="navbar-brand" href="{% url 'genre_stats' genre='Adventure' %}">Adventure</a>
        <a id="genres" class="navbar-brand" href="{% url 'genre_stats' genre='Action' %}">Action</a>
        <a id="genres" class="navbar-brand" href="{% url 'genre_stats' genre='Animation' %}">Animation</a>
        <a id="genres" class="navbar-brand" href="{% url 'genre_stats' genre='Comedy' %}">Comedy</a>
        <a id="genres" class="navbar-brand" href="{% url 'genre_stats' genre='Crime' %}">Crime</a>
        <a id="genres" class="navbar-brand" href="{% url 'genre_stats' genre='Documentary' %}">Documentary</a>
        <a id="genres" class="navbar-brand" href="{% url 'genre_stats' genre='Drama' %}">Drama</a>
        <a id="genres" class="navbar-brand" href="{% url 'genre_stats' genre='Family' %}">Family</a>
        <a id="genres" class="navbar-brand" href="{% url 'genre_stats' genre='Fantasy' %}">Fantasy</a>
        <a id="genres" class="navbar-brand" href="{% url 'genre_stats' genre='History' %}">History</a>
        <a id="genres" class="navbar-brand" href="{% url 'genre_stats' genre='Horror' %}">Horror</a>
        <a id="genres" class="navbar-brand" href="{% url 'genre_stats' genre='Music' %}">Music</a>
        <a id="genres" class="navbar-brand" href="{% url 'genre_stats' genre='Mystery' %}">Mystery</a>
        <a id="genres" class="navbar-brand" href="{% url 'genre_stats' genre='Romance' %}">Romance</a>
        <a id="genres" class="navbar-brand" href="{% url 'genre_stats' genre='Science Fiction' %}">Science Fiction</a>
        <a id="genres" class="navbar-brand" href="{% url 'genre_stats' genre='Thriller' %}">Thriller</a>
        <a id="genres" class="navbar-brand" href="{% url 'genre_stats' genre='War' %}">War</a>
        <a id="genres" class="navbar-brand" href="{% url 'genre_stats' genre='Western' %}">Western</a>
    </nav>
</div>


{% block genre %}{% endblock %}


{% endblock %}
