{% extends 'base.html' %}

{% block title %}Top Movies{% endblock %}
{% block content %}
{% load static %}

Here are the reviews for movies that are popular according to the audience<br>
Found {{ reviews_list |length }} reviews <br>
<ul id="review_ul" >
{% for review in reviews_list %}
<li>
 Movie:{{ review.0 }}<br>Average score: {{ review.1 }}<br>review summary: {{ review.2 }}<br>
    <a href={{ review.3 }}>Original review</a>
    <br>
</li>
    {% endfor %}
</ul>

<button id="next_btn" type="button" name="button">Next</button>

<script type="text/javascript">
</script>

{% endblock %}
