
{% extends 'base.html' %}

{% block styling %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/boxstyle.css' %}" >
{% endblock %}

{% block title %}Search by critic{% endblock %}
{% block content %}
{% load static %}

<section class="container-fluid px-0 pb-5">
    <div class="row align-items-center">
      <div class ="col-lg-1">
      </div>
      <div class="col-lg-10 align-items-center">
        <div id="headingGroup" class="text-white text-center d-lg-block mt-5">
            <h1 class="display-3"><span>#</span>Here are the reviews by critics with "{{critic}}" in their name</h1>
            <p class="lead">Found {{ reviews_list |length }} reviews</p>
            <ul>
                {% for review in reviews_list %}
                <div id ="resblock">
                 <span>Movie:</span> {{ review.0 }}<br><span>review by:</span> {{ review.1 }}<br><span>review summary:</span> {{ review.2 }}<br>
                    <a href={{ review.3 }}>Original review</a>
                    <br>
                </div>
                {% endfor %}
            </ul>
        </div>
      </div>
      <div class ="col-lg-1">
      </div>
    </div>
  </section>


{% endblock %}


