body {
    /*background: #017a70;*/
    /*background: #41B3A3;*/
    background: #1b7569;

    font-family: "Nunito", sans-serif;
}
#upperstuff{
    background-color: #41B3A3;
}
.blurb h2 {
    color: #EA1C2C;
    font-weight: 100;
    font-size: 2.5rem;
}
.blurb p {
    color: #F498B8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}
.content {
    margin-top: 100px;
    margin-bottom: 100px;
}
#mainNavbar {
    font-size:  1.5rem;
    font-weight: 100;
}
#mainNavbar .nav-link {
    color: white;
}
#mainNavbar .nav-link:hover {
    color: #02220c;
}
#mainNavbar .navbar-brand {
    color: #000000;;
}
#headingGroup span {
    color: #5acac1;
}
#headingGroup h1 {
    font-weight: 100;
    font-size: 3.5rem;
}
.navbar.scrolled {
    background: #41B3A3;
    transition: background 200ms;

}
#slogen {
    color: rgb(236, 238, 237);
    font-family: 'East Sea Dokdo', cursive;
}
#sitename {
    font-family: 'Petit Formal Script', cursive;
    font-size:10ex;
    color: rgb(236, 238, 237);
}
#sitename span {
    color: #5acac1;
}
#popcorn {
    width: 8%;
    height: auto;
}
#critic {
    width: 8%;
    height: auto;
}
#redchairs {
    width: 40%;
    height: auto;
}
#nyt {
    width: 25em;
    height: auto;
}

#search_btn {
    background-color: #ffffff00;
    color: white;
    border: 2px solid #5acac1;
    font-family: "Nunito", sans-serif;
    font-weight: 100;
    transition-duration: 0.4s;
}
#search_btn:hover {
    background-color: #5acac1;
}
